/01-qr-code/qr-code-component-figma
*.jpg
*.png
01-qr-code/qr-code-component-main/style-guide.md
01-qr-code/qr-code-component-main/README-template.md
01-qr-code/qr-code-component-main/READMEforStart.md