/01-qr-code/qr-code-component-figma
*.jpg
01-qr-code/qr-code-component-main/style-guide.md
01-qr-code/qr-code-component-main/README-template.md
01-qr-code/qr-code-component-main/READMEforStart.md
01-qr-code/qr-code-component-main/images/favicon-32x32.png
