/* @font-face {
  font-family: "Outfit";
  font-size: 12px;
  src:
    local("Outfit"),
    url("https://fonts.google.com/specimen/Outfit")  
} */
 @font-face {
  font-family: MyHelvetica;
  src:
    local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"),
    url(MgOpenModernaBold.ttf);
  font-weight: bold;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #D5E1EF;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}
.card{
  width: 320px;
  background-color: #FFFFFF;
  padding: 16px 16px 40px 16px;
  border-radius:  1.4em;
  text-align: center;
  justify-content: space-evenly;
  gap: 24px;
}

div img{
  width: 100%;
  block-size: auto;
  border-radius: 0.7em;
}
.content{
  padding: 16px;
}
h2{
  color: #1F314F;
  font-size: 22px;
}
div p{
  color: #68778D;
  font-size: 15px;
}
